 <section id="home" class="hero-section">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                  <div class="hero-content">
                      <h1 class="wow fadeInUp" data-wow-delay=".2s">BeeBeep</h1>
                      <p class="wow fadeInUp" data-wow-delay=".4s">
                          Plateforme de réservation de taxis en Tunisie.
                      </p>
                      <a href="javascript:void(0)" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Réserver</a>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
                      <img src="assets/app/img/about.png" alt=""/>
                  </div>
              </div>
          </div>
      </div>
  </section>



  <section id="services" class="service-section pt-150 ">
      <div class="container ">
          <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-8">
                  <div class="section-title text-center mb-70">
                      <span class="wow fadeInUp" data-wow-delay=".2s">Préparons votre projet</span>
                      <h1 class="wow fadeInUp" data-wow-delay=".4s"></h1>
                  </div>
              </div>
          </div>
          <div class="row">
               <div class="col-lg-4 col-md-6">
                  <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                      <div class="icon">
                          <img src="assets/customer-service.svg" alt=" " />
                      </div>
                      <div class="content ">
                        <h1> 1 </h1>
                          <p>Contactez-nous pour recevoir le recueil des fonctionnalités déjà comprises dans notre système de base.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                      <div class="icon ">
                          <img src="assets/app/img/service/service-icon-5.svg" alt=" " />
                      </div>
                      <div class="content ">
                        <h1> 2 </h1>
                          <p>Nous échangerons ensemble des modifications à apporter et des nouveautés à déployer pour votre projet..</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                      <div class="icon">
                          <img src="assets/financ.svg" alt=" " />
                      </div>
                      <div class="content">
                          <h1> 3 </h1>
                          <p>Nous vous confirmerons la faisabilité, le délai de livraison et le chiffrage en vue de l'acquisition des systèmes.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section id="about" class="about-section pt-150">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="about-img wow fadeInUp" data-wow-delay=".5s">
                      <img src="assets/app/img/hero-img.png" alt="" />
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="about-content">
                      <div class="section-title">
                          <span class="wow fadeInUp" data-wow-delay=".2s">Applications iOS et Androïd TAXI</span>
                         
                          <p class="wow fadeInUp" data-wow-delay=".6s">
                            Nous créons des applications mobiles pour TAXI natives iOS et Androïd. 
                            Vous souhaitez proposer des services de réservation de transport pour votre activité, 
                            nous proposons un système de base prêt à l'emploi et le développement de nouvelles fonctions.                      </p>

                            <ul>Notre système de base se compose:</ul><br/>

                           <li>D'un backoffice pour le gestionnaire du système.</li>
                           <li> D'applications natives iOS et Androïd pour les clients afin de créer et payer des commandes en immédiat et à l'avance</li>
                           <li> D'applications natives iOS et Androïd chauffeur afin de recevoir des commandes et les dérouler en temps réel.</li>
                      
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>

  <section id="how" class="delivery-section pt-150">
      <div class="container ">
          <div class="row align-items-center ">
              <div class="col-lg-5 ">
                  <div class="delivery-content ">
                      <div class="section-title ">
                          <span class="wow fadeInUp " data-wow-delay=".2s "> Application Gestionnaire</span>
                         
                          <p class="mb-35 wow fadeInUp " data-wow-delay=".6s">Fonctions de base de la console d'administration</p>
                            
                              <li>Gestion des utilisateurs</li>
                              <li>Gestion des types de véhicules</li>
                              <li>Gestion des marques de véhicules</li>
                              <li> Configuration des taux de commissionnement</li>
                                <li>  Configuration tarifaire selon le type de commande</li>
                                  <li>Gestion des forfaits (aéroports, gares..)</li>
                                    <li>  Configuration tarifaire de l'attente chauffeur</li>
                                      <li> Configuration tarifaire des frais d'annulation</li>
                                        <li> Configuration tarifaire selon le type de véhicule</li>
                                          <li> Configuration tarifaire selon la distance et la durée</li>
                                            <li> Configuration tarifaire selon la date</li>
                                              <li>Configuration tarifaire selon la période</li>
                                                <li> Suivi des commandes en cours en temps réel</li>
                                                  <li> Dispatch des commandes immédiates/réservations aux chauffeurs</li>
                                                    <li>Gestion des remises et des majorations (date et tranche horaire)</li>
                                                      <li> Gestion des moyens de paiement</li>
                              
                             
                            
                           
                         
                      </div>
                  </div>
              </div>
              <div class="col-lg-7 order-first order-lg-last">
                  <div class="delivery-img wow fadeInUp" data-wow-delay=".5s">
                      <img src="assets/mask-group-172x.png" alt=" " />
                  </div>
              </div>
          </div>
      </div>
  </section>

<!-- 
  <section id="received " class="about-section received-section pt-150 ">
      <div class="container ">
          <div class="row align-items-center ">
              <div class="col-lg-6 ">
                  <div class="about-img received-img wow fadeInUp" data-wow-delay=".5s">
                      <img src="assets/app/img/received/received-img.svg " alt=" " />
                  </div>
              </div>
              <div class="col-lg-6 ">
                  <div class="about-content received-content ">
                      <div class="section-title ">
                          <span class="wow fadeInUp " data-wow-delay=".2s ">Contactless Delivery</span>
                          <h1 class="mb-25 wow fadeInUp " data-wow-delay=".4s ">On-time Delivery to Your Doorstep</h1>
                          <p class="wow fadeInUp " data-wow-delay=".6s ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section> -->


  <section id="testimonial" class="testimonial-section img-bg pt-150 pb-40">
      <div class="container">
          <div class="row justify-content-center ">
              <div class="col-lg-6 ">
                  <div class="section-title mb-60 text-center">
                      <span class="wow fadeInUp " data-wow-delay=".2s "> Les avis</span>
            
                  </div>
              </div>
          </div>
          <div class="row testimonial-wrapper">
              <div class="col-lg-4 col-md-6 -mt-30">
                  <div class="single-testimonial wow fadeInUp" data-wow-delay=".2s">
                      <div class="rating ">
                          <i class="lni lni-star-filled "></i>
                          <i class="lni lni-star-filled "></i>
                          <i class="lni lni-star-filled "></i>
                          <i class="lni lni-star-filled "></i>
                          <i class="lni lni-star-filled "></i>
                      </div>
                     
      
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 -mt-60 ">
                  <div class="single-testimonial wow fadeInUp " data-wow-delay=".4s ">
                      <div class="rating ">
                          <i class="lni lni-star-filled "></i>
                          <i class="lni lni-star-filled "></i>
                          <i class="lni lni-star-filled "></i>
                         
                      </div>
                     
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 ">
                  <div class="single-testimonial wow fadeInUp" data-wow-delay=".6s">
                      <div class="rating ">
                          <i class="lni lni-star-filled "></i>
                          <i class="lni lni-star-filled "></i>
                          <i class="lni lni-star-filled "></i>
                          <i class="lni lni-star-filled "></i>
                         
                      </div>
                      
                  </div>
              </div>


          </div>
      </div>
  </section>




  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" id="footer" >
      <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>

    </footer>
  </div>

  <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
  </a>


