<!---<main id="main">

<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">

        </div>

    </div>
</section>


<section class="inner-page">
    <div class="container">

        <div class="card card-primary">
            <div class="card-header">
                <h4>Login</h4>
            </div>

            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="loginclient(f)" class="needs-validation">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control" name="email" tabindex="1" required #email="ngModel" ngModel>

                    </div>

                    <div class="form-group">
                        <div class="d-block">
                            <label for="password" class="control-label">Mot de passe</label>
                        </div>
                        <input id="password" type="password" class="form-control" name="password" tabindex="2" required #password="ngModel" ngModel>

                    </div>
                   <div class="alert alert-danger" *ngIf="messageAuthError">
                          {{messageAuthError}}
                    </div>
<div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">Connexion</button>
</div>
</form>

</div>
</div>
</div>
</section>

</main>


<section id="contact" class="contact">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Contact</h2>

        </div>

        <div class="row">


            <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section>-->
<!--<div class="limiter">
    <div class="container-login100">

        <div class="wrap-login100">
            <div class="text-center">
                <div class="title">Registration</div>
            </div>
            <br>
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
          Log in to continue
          <img class="mb-4" src="assets/app/img/beebeep.png" alt="" width="80" height="80">
        </span>
                <span class="login100-form-title p-b-48">
          <i class="zmdi zmdi-font"></i>
        </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <input class="input100" type="text" name="email">
                    <span class="focus-input100" data-placeholder="Enter your email ..."></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100" data-placeholder="Enter your password ..."></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
              Login
            </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
            Don’t have an account?
          </span>

                    <a class="txt2" href="#">
            Sign Up
          </a>
                </div>
            </form>
        </div>
    </div>
</div>-->


<div class="limiter">
  <div class="container-login100">
      <div class="wrap-login100">
          <div class="text-center">
              <div class="title">Se Connecter</div>
          </div><br>
          <form #f="ngForm" (ngSubmit)="loginclient(f)" class="login100-form validate-form">
              <span class="login100-form-title p-b-26">
            <img class="mb-4" src="assets/app/img/beebeep.png" alt="" width="70" height="70">
          </span>
              <div class="form-group">
                  <input type="text" name="email" required #email="ngModel" ngModel/>
                  <label>E-mail</label>
              </div>
              <!-- nom validation end here -->
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-feedback">
                  <div class="lert" *ngIf="email.errors?.['required']">
                      Veuillez choisir adresse email
                  </div>
              </div>

              <div class="form-group">
                  <input type="password" name="password" required #password="ngModel" ngModel/>
                  <label>Mot de passe</label>
              </div>
              <!-- nom validation end here -->
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-feedback">
                  <div class="lert" *ngIf="password.errors?.['required']">
                      Veuillez choisir le mot de passe.
                  </div>
              </div>

              <div class="form-group">
                  <a href="#" class="txt2">Mot de passe oublié?</a>
              </div>

              <!--<div class="lert" *ngIf="messageError">
              {{messageError}}
      </div>-->

              <button type="submit" class="btn">Connexion</button>

              <div class="text-center p-t-115">
                  <span class="txt1">Vous n'avez pas encore de compte?</span>
                  <a class="txt2" routerLink="/client/inscription">Inscrivez-vous</a>
              </div>
          </form>
      </div>
  </div>
</div>
